<!-- <div class="row">
    <div class="col-md-6">
        <p>Any Questions? Let me help! Please reach out to <b>hernandezmartin0489@hotmail.com</p>
    </div>
    <div class="col-md-6">
         <row>
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
         </row>
    </div>
</div> -->

<style>
label,input{
    display:flex;
    flex-direction:column;
}

</style>

<div class="row align-items-center p-1">
  <div class="col-lg-6">
    <p class=""> Any questions? Let me help! Please reach out to  <b>hernandezmartin0489@hotmail.com </b></p>
  </div>
  <div class="col-lg-6 col-md-6  mt-4">
    <h2>Name</h2>
    <div class="row align-items-center">
        <div class="col-md-6">
            <p>First Name </p>
            <input type="text" id="firstname" name="firstname"/>
        </div>
            <div class="col-md-6">
            <p>Last Name </p>
            <input type="text" id="lastname" name="lastname"/>
        </div>
    </div>
    <div class="row align-items-center p-4">
        <label for="email">Email</label>
        <input type="text" id="email" name="email"/>
    </div>
        <div class="row align-items-center p-2">
        <p>Body</p>
        <input type="text" id="body" name="body"/>
    </div>

  </div>
</div>