<!-- <div class="row">
    <div class="col-md-6">
        <p>Any Questions? Let me help! Please reach out to <b>hernandezmartin0489@hotmail.com</p>
    </div>
    <div class="col-md-6">
         <row>
            <label for="name">Name</label>
            <input type="text" id="name" name="name"/>
         </row>
    </div>
</div> -->

<style>
label,input{
    display:flex;
    flex-direction:column;
}

input[type=text], textarea{
  border-radius: 20px;
  border: 1px solid #558197;
  color: rgb(73, 73, 73);
  height: 30px;
  padding-left: 10px;
}

input.name{
    width: 300px;
}

input.email{
    width:300px;
}

@media only screen and (min-width:550px){
    input.name{
        width: 250px;
    }

    input.email{
        width: 530px;
    }

    .body textarea{
        width:530px;
    }
}



</style>

<div class="row align-items-center">
  <div class="col-lg-5">
    <p class=""> Any questions? Let me help! Please reach out to  <b>hernandezmartin0489@hotmail.com </b></p>
  </div>
  <div class="col-lg-6 col-md-6  mt-4">
    <div class="row p-3" style="display:flex;flex-direction:row;">
        <div style="display:flex;flex-direction:column;">
            <label>First Name </label>
            <input class="name" type="text" id="firstname" name="firstname" />
        </div>
        <div class="" style="width:30px"></div>
        <div class="" style="display:flex;flex-direction:column;">
            <label>Last Name </label>
            <input class="name" type="text" id="lastname" name="lastname"/>
        </div>
    </div>
    <div class="row  p-3" style="display:flex;flex-direction:column;">
        <label for="email">Email</label>
        <input class="email" type="text" id="email" name="email"/>
    </div>
        <div class="row p-3" style="display:flex;flex-direction:column;">
        <label for="body">Body</label>
        <textarea class="body" type="text" id="body" name="body" style="height:200px;"></textarea>
    </div>

  </div>
</div>